/* Styling for the whole page */

body {
    font-family: 'Noto Serif KR', serif;
    margin: 0;
    text-align: center;
}

/* The container class that makes every section to take up 80% of the page,
and with the same padding all over the page. */

.container {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

/* Styling for headings and text */

h1 {
    color: white;
    font-size: 65px;
    font-weight: 700;
    margin: 40px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
}

.signup-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Styling for the top section of the page */

header {
    background-image: url("./images/background-img-unsplash.jpg");
    background-repeat: no-repeat; /* Controls the image */
    background-size: cover; /* Controls the image */
    padding: 100px 0;
}

/* Styling for the button */

header a {
    color: white;
    border: white solid;
    border-radius: 40px; /* Makes the buttons corners round. */
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
}

/* Styling for the icons */

.icons {
    display: flex; /* makes the icons display next to eachother */
    justify-content: center;
    align-items: top;
}

.icon {
    margin: 40px;
}

.icon img {
    width: 150px;
}

/* Styling for the about-us section */

.about-us {
    background-image: url("./images/background-about.jpg");
    background-repeat: no-repeat; /* controls the image */
    background-size: cover; /* controls the image */
    padding: 100px 0;
    color: white;
}

.about-us p {
    font-weight: 400;
    font-size: 25px;
}

.about-us a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

/* Styling for the footer */

footer {
    background-color: #4d4d4d;
    color: white;
}

footer a {
    text-decoration: none;
    color: #c6ebc6;
}